/* ============================================= */
/* DEFAULT */
/* ============================================= */

/* Consistent styles */
:root {
    --white: rgba(255, 255, 255, 1);
    --light-grey: rgba(229,229,229, 1);
    --grey: rgba(108,117,125,1);
    --dark-grey:rgba(33,37,41,1);
    --blue: rgba(100,154,201,1);
    --purple: rgba(116,100,221,1);
    
    --grey-background: rgba(33,37,41,1);
    --black-background: rgba(2,2,4,1);
    --purple-background: rgba(51,36,63,1);

    --green-background: rgb(12,60,48);
    --blue-background: rgb(7, 39, 68);
    --dark-green-background: rgba(5,11,11,1);
    --transparent-background: rgba(33,37,41,0.75); 

    --heading-font: "Montserrat", sans-serif;
    --text-font: "Nunito Sans", sans-serif;

    --transition: 0.4s;
}

/* CSS resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Smooth page navigation */
html {
  scroll-behavior: smooth;
}

/* Links */
a {
    text-decoration: none;
}

/* Removes default list style */
ul {
    list-style-type: none;
}

/* Headings */
.section-heading {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 50px;
}

.heading {
    font-family: var(--heading-font);
    font-size: 1.25rem;
    font-weight: 600;
}

.subheading{
    font-family: var(--heading-font);
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Text */
.text {
    color: var(--grey);
    font-size: 0.8rem;
    font-family: var(--text-font);
    line-height: 23px;
    letter-spacing: 0.3px;
}

.languages {
    color: var(--grey);
    font-family: var(--heading-font);
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}

/* Icons */
.icon{
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    background-color: var(--grey);
    color: var(--white);
    font-size: 20px;
}

/* ============================================= */
/* NAVIGATION */
/* ============================================= */

/* Navigation bar */
#navigation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 1rem; 
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 3.5rem;
    background-color: var(--transparent-background);
    border-radius: 100px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#navigation ul {
    display: flex;
    gap: 1.9rem;
}

/* Navigation links */
#navigation .nav-link {
    color: var(--white);
    font-family: var(--heading-font);
    padding: 0.75rem;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    transition: var(--transition);
}

#navigation .nav-link:hover {
    color: var(--blue);
}

/* Navigation menu */
#navigation .nav-menu {
    color: var(--white);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* ============================================= */
/* HOME */
/* ============================================= */

/* Home background image */
#home {
    height: 100vh;
    padding-top: 18rem;
    padding-bottom: 6rem;
    text-align: center;
    color: var(--white);
    background-image: url("../assets/img/home-background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/* Home headers */
#home .home-heading {
    font-size: 3.25rem;
    font-weight: 750;
    line-height: 3.25rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px #2c3034;
    letter-spacing: 0.2rem;
    font-family: var(--heading-font);
}
#home .home-subheading {
    font-size: 1.5rem;
    font-weight: 150;
    line-height: 1.5rem;
    margin-bottom: 25px;
    text-shadow: 0.5px 0.5px #2c3034;
    font-family: var(--heading-font);
}

/* ============================================= */
/* ABOUT */
/* ============================================= */

#about {
    background: linear-gradient(to bottom, var(--blue-background), var(--green-background));
    padding-bottom: 100px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#about .about-section {
    background-color: var(--dark-green-background);
    width: 100%;
    max-width: 96%;
    padding-bottom: 100px;
    position: relative;
    border-radius: 10px;
}

/* About headings */
#about .section-heading {
    color: var(--dark-grey);
}

#about .heading {
    color: var(--dark-grey);
}

#about .subheading {
    color: var(--grey);
}

#about .location {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#about .location ion-icon{
    height: 1rem;
    width: 1rem;
    font-size: 10px;
    padding-right: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#about .icon:hover{
    transform: scale(1.05);
}

/* About profile image */
#about .about-img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin-bottom: 25px;
}

/* About sections */
#about .about-container{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    max-width: 80%; 
    margin: 0 auto;
}

#about .about-details{
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
    padding-right: 20px;
    color: var(--grey);
}

#about .about-text{
    color: var(--grey);
    flex: 2; 
    padding-left: 20px;
    text-align: left;
}

/* ============================================= */
/* SKILLS */
/* ============================================= */

/* Skils layout */
.skills {
    background: linear-gradient(to bottom, var(--green-background), var(--blue-background));
    padding-bottom: 100px;
}

#skills .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px auto;
    max-width: 40%;
}

/* Skills icon */
#skills .skills-wrapper img {
    background: transparent;
}
  
#skills .icon {
    width: 7rem;
    height: 7rem;
}

#skills .icon:hover {
    transform: scale(1.05);
}

#skills .skill-item:hover .overlay-text {
    opacity: 1; 
}

/* Skills text and headings */
#skills .section-heading{
    color: var(--white);
} 

#skills .heading{
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
}

#skills .subheading{
        color: var(--white);
}

#skills ul {
    padding-left: 20px;
    list-style-type: circle;
}

#skills p {
    text-align: center;
}

#skills .overlay-text {
    color: var(--grey);
    opacity: 0;
    transition: var(--transition);
}

/* ============================================= */
/* EDUCATION */
/* ============================================= */

/* Education page */
#education {
    background: linear-gradient(to bottom, var(--blue-background), var(--green-background));
    text-align: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Education section heading */
#education .section-heading{
    color: var(--white);
}

/* Timeline page */
#education .timeline {
    width: 100%;
    max-width: 60%;
    background: var(--white);
    padding: 100px 50px;
    position: relative;
    border-radius: 10px;
}

/* Timeline line */
#education .timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 1px;
    background: var(--light-grey);
}

#education .timeline:after {
    content: "";
    display: table;
    clear: both;
}

#education .icon {
    position: absolute;
    left: 30.5%;
    top: 15%;
}

/* Timeline entry */
#education .timeline-item {
    clear: both;
    text-align: left;
    position: relative;
}

/* Timeline text */
#education .timeline-title {
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

#education .timeline-body {
    margin: 0 0 3rem;
    float: right;
    width: 66%;
    padding-left: 30px;
}

#education .timeline-body ul {
    padding-left: 20px;
    list-style-type: disc;
}

#education .timeline-body p {
    font-style: italic;
}

#education .timeline-body h3 {
    font-weight: bold;
    color: var(--dark-grey);
}

/* ============================================= */
/* PROJECTS */
/* ============================================= */

/* Projects page */
#projects {
    background: linear-gradient(to bottom, var(--green-background), var(--blue-background));
    text-align: center;
    padding-bottom: 100px;
}

/* Project headings */
#projects .section-heading{
    color: var(--white);
}

#projects .project-grid .heading{
    color: var(--white);
    font-size: 1rem;
    padding-top: 10px;
}

#projects .subheading{
    color: var(--grey);
    font-size: 0.75rem;
}

/* Projects grid */
#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px auto;
    max-width: 60%;
}

#projects .project-grid img {
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 10px;
}

#projects .project-grid img:hover {
    transform: scale(1.05);
}

#projects .project-item {
    text-align: center; 
}

/* Modal popup */
#projects .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#projects .modal-content {
    background-color: var(--white);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#projects .modal-content img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Modal texts */
#projects .modal-content h1{
    color: var(--dark-grey);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 1rem;
}

#projects .modal-content p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

/* Modal footer */
#projects .modal-footer {
    display: flex;
    justify-content: space-between; 
    background-color: var(--grey-background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

/* Modal footer link */
#projects .modal-link {
    color: var(--white);
    font-family: var(--heading-font);
    padding-left: 30px; 
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    transition: var(--transition);
}

#projects .modal-link:hover {
    color: var(--blue);
}

/* Modal footer closer button */
#projects .close {
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
    padding-right: 30px; 
    cursor: pointer;
    padding-top: 10px;
}

#projects .close:hover {
    color: var(--blue);
    cursor: pointer;
}

/* ============================================= */
/* CONTACT */
/* ============================================= */

/* Contact layout */
.contact {
    background: linear-gradient(to bottom, var(--blue-background), var(--green-background));
    padding-bottom: 100px;
}

#contact .contact-container {
    display: flex;
    justify-content: center; 
    max-width: 70%; 
    margin: 0 auto;
    align-items: flex-start;
}

#contact .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
}

/* Contact text and headings */
#contact .section-heading{
    color: var(--white);
} 

#contact .heading{
    color: var(--white);
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

#contact .subheading{
        color: var(--white);
}

/* Contact icon */
#contact .icon {
    height: 5rem;
    width: 5rem;
    font-size: 50px;
}

#contact .icon:hover {
    transform: scale(1.05);
}

/* ============================================= */
/* Footer */
/* ============================================= */

.footer {
    background: var(--green-background);
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}