/* ============================================= */
/* DEFAULT */
/* ============================================= */

/* Consistent styles */
:root {
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(116,100,221,1);
    --grey-text: rgba(108,117,125,1);
    --grey-heading:rgba(33,37,41,1);
    --medium-background: rgba(33,37,41,1);
    --dark-background: rgba(2,2,4,1);
    --heading-font: "Montserrat", sans-serif;
    --text-font: "PT Serif", serif;
    --transition: 0.4s;
}

/* CSS resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Smooth page navigation */
html {
  scroll-behavior: smooth;
}

/* Links */
a {
    text-decoration: none;
}

/* Removes default list style */
ul {
    list-style-type: none;
}

/* Section heading */
.section-heading {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: var(--grey-heading);
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Text */
.text {
    font-size: 0.8rem;
    font-weight: 50;
    font-family: var(--text-font);
    line-height: 23px;
    letter-spacing: 0.3px;
}

/* Social buttons */
.social-button{
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    background-color: var(--grey-text)
}

.social-button ion-icon{
    color: var(--primary-color);
    font-size: 20px;
}

/* ============================================= */
/* NAVIGATION */
/* ============================================= */

/* Navigation bar */
#navigation {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--medium-background);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#navigation ul {
    display: flex;
    gap: 1.9rem;
}

/* Navigation links */
#navigation .nav-link {
    color: var(--primary-color);
    font-family: var(--heading-font);
    padding: 0.75rem;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    transition: var(--transition);
}

#navigation .nav-link:hover {
    color: var(--secondary-color);
}

/* Navigation menu */
#navigation .nav-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* ============================================= */
/* HOME */
/* ============================================= */

/* Home background image */
#home {
    height: 100vh;
    padding-top: 18rem;
    padding-bottom: 6rem;
    text-align: center;
    color: var(--primary-color);
    background-image: url("../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/* Home headers */
#home .home-heading {
    font-size: 3.25rem;
    font-weight: 750;
    line-height: 3.25rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px #2c3034;
    letter-spacing: 0.4rem;
    font-family: var(--heading-font);
}

#home .home-subheading {
    font-size: 1.5rem;
    font-weight: 150;
    line-height: 1.5rem;
    margin-bottom: 25px;
    text-shadow: 2px 2px #2c3034;
    font-family: var(--heading-font);
}

/* ============================================= */
/* ABOUT */
/* ============================================= */

#about {
    background-color: var(--dark-background);
    text-align: center;
    padding-bottom: 100px;
}

/* About headings */
#about .about-heading{
    color: var(--grey-heading);
    font-family: var(--heading-font);
    font-size: 1.25rem;
    font-weight: 600;
}

#about .about-subheading{
    color: var(--grey-text);
    font-family: var(--heading-font);
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* About profile image */
#about .about-img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin-bottom: 25px;
}

/* About sections */
#about .about-container{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    max-width: 60%; 
    margin: 0 auto;
}

#about .about-details{
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
    padding-right: 20px;
    color: var(--grey-text);
}

#about .about-text{
    color: var(--grey-text);
    flex: 2; 
    padding-left: 20px;
    text-align: left;
}